<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="description" content="Hosting ecológico con hardware renovado y energía sostenible. Alojamiento web de alto rendimiento con una huella de carbono reducida. Únete al futuro del hosting verde." />
		<title>Hosting Ecológico | Sostenible y con Hardware Renovado</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
